$primary-color: #5FDBF1;
$secondary-color: #393D46;
$accent-color: #287EA9;
$text-color: #606777;
$link-color: #F9F086;
$header-height: 110px;
$mobile-header-height: 50px;
$footer-height: 30px;
$heading-font: 'Roboto Condensed', 'sans-serif';

@mixin image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        flex-shrink: 0;
        width: initial;
        height: initial;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: 100%;
    }
}

@mixin image-overlay($color) {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color;
}

@mixin primary-button {
    padding: 0.25rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: none;
    background-color: $link-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: #000;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;

    &:disabled {
        color: #999;
        background-color: #EEE;
        cursor: default;

        &:hover {
            color: #999;
        }
    }

    &:hover {
        background-color: $accent-color;;
    }
}

@mixin background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin ribbon-heading {
    background-color: #53ced7;
    padding: 0.25rem 1rem;
    position: relative;
    margin: 0 auto 3rem;
    transform-style: preserve-3d;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    
    &:before, &:after {
      display: block;
      content: '';
      position: absolute;
      width: 2rem;
      height: 100%;
      border: 1rem solid #51bcc4;
      z-index: -1;
      transform: translateZ(-1rem);
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    }
    
    &:before {
      left: -1rem;
      top: 1rem;
      border-right: 1rem solid #3d898f;
      clip-path: polygon(30% 50%, 0% 0%, 100% 0%, 100% 100%, 0 100%);
    }
    
    &:after {
      right: -1rem;
      top: 1rem;
      border-left: 1rem solid #3d898f;
      clip-path: polygon(0% 0%, 100% 0%, 70% 50%, 100% 100%, 0 100%);
    }
}
